<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../components/head %>
</head>

<body>
  <div id="login-page">
    <div class="container">
      <form class="form-login" method="POST" action="/user/signin">
        <h2 class="form-login-heading">sign in now</h2>
        <div class="login-wrap">
          <% if (message) { %>
          <div class="has-error">
            <p class="help-block"><%= message %></p>
          </div>
          <% } %>
          <div class="form-group <% if (validationErrors.email) { %> has-error <% } %>">
            <input type="text" placeholder="Email" id="email" name="email" class="form-control" value="<%= formData.email %>">
            <% if (validationErrors.email) { %>
            <p class="help-block"><%= validationErrors.email %></p>
            <% } %>
          </div>
          <div class="form-group <% if (validationErrors.password) { %> has-error <% } %>">
            <input type="password" placeholder="Password" id="password" name="password" class="form-control" value="<%= formData.password %>">
            <% if (validationErrors.password) { %>
            <p class="help-block"><%= validationErrors.password %></p>
            <% } %>
          </div>
          <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
          <hr>
          <div class="registration">
            Don't have an account yet?<br />
            <a class="" href="/user/signup">
              Create an account
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("/img/login-bg.jpg", {
      speed: 500
    });
  </script>
</body>

</html>