<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../components/head %>
</head>

<body>
  <section id="container">

    <!--header start-->
    <% include ../components/header %>
    <!--header end-->
    <!--sidebar start-->
    <% include ../components/sidebar %>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- row -->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>Chat Room: <%= chat.sender.name %></h3>
              <form action="#" class="pull-right position">
                <input type="text" placeholder="Search" class="form-control search-btn ">
              </form>
            </div>
            <div id="conversation" style="    float: left;
    width: 100%;
    overflow-y: scroll;
    max-height: 600px;">
              <% if(chat.items && chat.items.length >0 ){ %>
              <% var i = 0; for (let item of chat.items){  i= i+1; %>
              <div class="group-rom <% if(i == chat.items.length){ %> last-group <% } %> ">
                <div class="first-part odd"><%= item.User.name %></div>
                <% if(item.message){ %>
                <div class="second-part"><%= item.message %></div>
                <% } %>
                <% if(item.file){ %>
                <div class="second-part"><a href="<%= item.file %>"><%= item.file %></a></div>
                <% } %>
                <div class="third-part"><%= item.createdAt %></div>
              </div>
              <% } %>
              <% } %>
            </div>

        </div>
        <footer style="width:100%;height:auto;">

          <div class="chat-txt" style="width:60%">
            <textarea name="message" id="message-field" class="form-control" rows="4" cols="40"></textarea>

          </div>
          <div class="btn-group hidden-sm hidden-xs">
            <input type="file" name="files[]" multiple id="files">
          </div>
          <button class="btn btn-theme" type="button" id="send-message">Send</button>

        </footer>
      </section>
    </section>
    <% include ../components/footer %>
</body>

</html>